In [2]:
import numpy as np 
import pandas as pd

In [3]:
bird_watch_df = pd.read_csv("bird_watching_data.csv")

In [4]:
bird_watch_df.head(10)

,Admin_Unit_Code,Sub_Unit_Code,Site_Name,Plot_Name,Location_Type,Year,Date,Start_Time,End_Time,Observer,...,NPSTaxonCode,AOU_Code,PIF_Watchlist_Status,Regional_Stewardship_Status,Temperature,Humidity,Sky,Wind,Disturbance,Initial_Three_Min_Cnt
0,ANTI,NaN,ANTI 2,ANTI-0207,Forest,2008,5/28/2008,6:42,6:52,Desiree Narango,...,85824,ACFL,False,True,15.6,57.0,Cloudy/Overcast,Calm (< 1 mph) smoke rises vertically,No effect on count,True
1,ANTI,NaN,ANTI 2,ANTI-0207,Forest,2008,5/28/2008,6:42,6:52,Desiree Narango,...,88038,BGGN,False,False,15.6,57.0,Cloudy/Overcast,Calm (< 1 mph) smoke rises vertically,No effect on count,True
2,ANTI,NaN,ANTI 2,ANTI-0207,Forest,2008,5/28/2008,6:42,6:52,Desiree Narango,...,85824,ACFL,False,True,15.6,57.0,Cloudy/Overcast,Calm (< 1 mph) smoke rises vertically,No effect on count,True
3,ANTI,NaN,ANTI 2,ANTI-0207,Forest,2008,5/28/2008,6:42,6:52,Desiree Narango,...,95300,AMGO,False,False,15.6,57.0,Cloudy/Overcast,Calm (< 1 mph) smoke rises vertically,No effect on count,True
4,ANTI,NaN,ANTI 2,ANTI-0207,Forest,2008,5/28/2008,6:42,6:52,Desiree Narango,...,87106,AMCR,False,False,15.6,57.0,Cloudy/Overcast,Calm (< 1 mph) smoke rises vertically,No effect on count,True
5,ANTI,NaN,ANTI 2,ANTI-0207,Forest,2008,5/28/2008,6:42,6:52,Desiree Narango,...,87156,WOTH,True,True,15.6,57.0,Cloudy/Overcast,Calm (< 1 mph) smoke rises vertically,No effect on count,True
6,ANTI,NaN,ANTI 2,ANTI-0207,Forest,2008,5/28/2008,6:42,6:52,Desiree Narango,...,85846,EAWP,False,True,15.6,57.0,Cloudy/Overcast,Calm (< 1 mph) smoke rises vertically,No effect on count,True
7,ANTI,NaN,ANTI 2,ANTI-0207,Forest,2008,5/28/2008,6:42,6:52,Desiree Narango,...,266957,ETTI,False,False,15.6,57.0,Cloudy/Overcast,Calm (< 1 mph) smoke rises vertically,No effect on count,True
8,ANTI,NaN,ANTI 2,ANTI-0207,Forest,2008,5/28/2008,6:42,6:52,Desiree Narango,...,85739,HAWO,False,False,15.6,57.0,Cloudy/Overcast,Calm (< 1 mph) smoke rises vertically,No effect on count,True
9,ANTI,NaN,ANTI 2,ANTI-0207,Forest,2008,5/28/2008,6:42,6:52,Desiree Narango,...,94228,NOCA,False,False,15.6,57.0,Cloudy/Overcast,Calm (< 1 mph) smoke rises vertically,No effect on count,False

In [5]:
Texas_df = pd.read_csv("the bird files/States/Texas/Texas.csv")

In [6]:
Texas_df.head(10)

,RouteDataID,CountryNum,StateNum,Route,RPID,Year,AOU,Count10,Count20,Count30,Count40,Count50,StopTotal,SpeciesTotal
0,6175951,840,83,1,101,1969,580,21,2,0,0,0,5,23
1,6175951,840,83,1,101,1969,800,6,0,0,0,0,1,6
2,6175951,840,83,1,101,1969,1340,7,2,0,0,0,5,9
3,6175951,840,83,1,101,1969,1770,28,0,0,0,0,7,28
4,6175951,840,83,1,101,1969,1780,0,0,0,14,0,1,14
5,6175951,840,83,1,101,1969,1870,15,0,0,0,0,1,15
6,6175951,840,83,1,101,1969,1970,0,16,0,0,0,2,16
7,6175951,840,83,1,101,1969,2000,0,4,0,0,0,1,4
8,6175951,840,83,1,101,1969,2001,0,0,1,0,0,1,1
9,6175951,840,83,1,101,1969,2190,0,1,0,0,0,1,1